// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";


// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";


@import "redactor-rails/css/redactor";
@import "redactor-rails/css/style";


// Fix redactor-rails, 90% solution, the last 10% isn't worth it to me.
.redactor-box {
  margin-left: 20%;
  border: 1px solid #C9D0D6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 79.8%;
}


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
