 <div class="main-content-wrapper"> 
        <div class="content-layer" data-stellar-background-ratio="0.3" data-stellar-vertical-offset="100"></div>
        <section class="main-content container">
          
          
          <!-- Front Page Content -->
          <div id="about" class="row-fluid content">
            <div class="span4"><h2>Learn more about<span> Girl Butter</span> See who I am</h2></div>
            <div class="span8">
              <%=image_tag "girl.jpg", :alt =>"", :class =>"pull-right" %>  
              <p class="lead">Greetings, I am Marsha Clark. </p>
              <p class="lead">I started programming in 2015.  I was working as Medical Assisting and came across the oppertunity to learn coding skills so I jumped on it. I have had the <strong>best</strong> teacher though out my learning prosses and learned more than I imagined! I now, love what I do. </p>
            </div>
          </div>  
          <!-- End Front Page Content -->

          <!-- Chart -->
          
          <!-- End Pricing Tables -->
          
        </section>  
      </div>