 <div class="main-content-wrapper"> 
  <div class="content-layer" data-stellar-background-ratio="0.3" data-stellar-vertical-offset="100"></div>
  <section class="main-content container">
    
    <!-- Front Page Content -->
    <div id="about" class="row-fluid content">
      <div class="span12"><h2>Learn more about<span> Girl Butter</span></h2></div>
      <div class="span12">
        <%=image_tag "girl.jpg", :alt =>"", :class =>"pull-right" %>  
        <p class="lead">Greetings, I am Marsha Clark, </p>
        <p class="lead">I am a freelance Web developer, Web designer, and a mom from the St. Louis area that spends my time working at home and in the local coffee shops. I build applications and sites under the label of <strong>  Girl Butter </strong>. I may be of help on your Web project and can be reached via Email and phone for consultation. </p> 
      </div>
    </div>  
    
  </section>  
</div>