 <div class="footer-wrapper">
  <footer class="footer container">
    <div class="container">
      <div class="row">
        <div class="span12">
          <section class="footer-column-one">
            <h4 class="footer-title">Contact Me</h4>

            
            
              
             <%= form_tag(send_mail_path, remote: true, id: "contactForm", class: "form-horizontal text-left" ) do %>
             <fieldset>
                <label>Your Name</label>
                
                <input class="span12 contact-form" placeholder="Enter your name..." type="text">
                 
                <label>Your email address</label>
                
                <input class="span12 contact-form" placeholder="Enter your email..." type="text">
                
                <label>Your phone number</label>
                
                <input class="span12 contact-form" placeholder="Enter your number..." type="text">
                
                <!-- Textarea -->
                <label>Message</label>
                <div class="textarea">
                  <textarea class="span12 contact-form"></textarea>
                </div>       
                <div class="text-left">
                  <br/>
                   <%= submit_tag 'Send Message', class: "btn btn-primary btn-large" %>
                </div>

                <!-- <a href="marshasclark23@gmail.com"><i class="fa fa-envelope-o pr-10"></i>marshasclark23@gmail</a> -->

              </fieldset>
            
            <% end %>
          </section>
        </div>
       
         
     
    <div id="contact" class="footer-credits">
      <div class="container">
        <div class="row">
          <div class="span8">
            <p class="text-left pull-left">
              &copy; 2015 Girl Butter | All Rights Reserved | 
            </p>
          </div>
         
        </div>
      </div>
    </div>
  </footer>
</div>