<div class="portfolio-layer" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="40"></div>
<div class="portfolio-layer-2" data-stellar-background-ratio="0.9" data-stellar-vertical-offset="40"></div>
<section id="portfolio" class="portfolio container">
  
  <div class="row-fluid content">
    <div class="span12">
      <h2>Some <span class="alternative">Projects </span> I have worked on</h2>
      <p class="lead text-center"><br/><br/>Click an image to view detail.</p>
    </div>
  </div>  
  

  <% @projects.in_groups_of(3) do |group| %>
    <div class="row-fluid"> 
    <% group.compact.each do |project| %>
      <div class="span4">
        <%= link_to "#page-#{project.id}", :class => "left-slide" do %>
          <%=image_tag project.image.url(:medium), :alt =>"", :class =>"thumbnail" %>
        <% end %>
      </div>
    <% end %>
    </div>
  <% end %>

</section>  
<!-- End Portfolio -->

<!-- Start Sign-Up -->
<section id="signmeup" class="sign-up container">
  <div class="content">
    <h2>Let <span class="alternative">Your,</span> project Be next!</h2><br/>
    <div class="row-fluid sign-up-block">
      <div class="span8">
        <h2>Want to hire <span>Girl butter</span> </h2>
      </div>
      <div class="span4 text-center">
        <a href="#sign-up" class="btn btn-primary btn-large btn-block signup">click here</a>
      </div>
    </div>
  </div>  
</section>

